.container{
    grid-area: 1/1/2/7;
    padding-top: 10rem;
    max-width: 95%;
}

.search{
    display: flex;
    flex-direction: row;
    height:3rem;
    flex:2;
}
.search input{
    flex:3;
    border-style: none;
    text-indent: 1rem;
    font-size: 15px;
}
*:focus{
    outline: none;
}
.search button{
    height:3rem;
    background-color: var(--clr-dark-contrast);
    transition-duration: 1s;
    border: none;
    color: white;
}
.search button:hover {
    background-color:var(--clr-text); 
    border: 3px var(--clr-main);
    cursor: pointer;
  }
.container p{
    font-weight: 500;
    color: var(--clr-text2);
}
  @media only screen and (max-width: 600px) {
    .container{
        padding: 8rem 1rem 0 1rem;
        max-width: 90%;
    }
    input{
        font-size: 10px;
    }
    
  }