/* root */
:root{
  --clr-main:#AEC0EA;
  --clr-background:#F8F5F4;
  --clr-contrast:#85CEA7;
  --clr-dark-contrast:#7FA3D8;
  --clr-text:#8960ED
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:darkgrey;
  cursor: default;
  background-color: var(--clr-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
